@font-face{
    font-family: 'Source Serif Display';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-ExtraLight.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-ExtraLight.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-ExtraLightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-ExtraLightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-Light.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-LightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-LightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-It.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-It.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-Semibold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-Semibold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-SemiboldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-SemiboldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-Bold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-Bold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-BoldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-BoldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-Black.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-Black.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Display-BlackIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Display-BlackIt.otf.woff') format('woff');
}
/*@supports (font-variation-settings:normal) {
    @font-face{
        font-family: 'Source Serif Display';
        font-weight: 200 900;
        font-style: normal;
        font-stretch: normal;
        src: url('VAR/SourceSerif4Variable-Roman.ttf.woff2') format('woff2-variations'),
             url('VAR/SourceSerif4Variable-Roman.ttf.woff') format('woff-variations');
    }
    @font-face{
        font-family: 'Source Serif Display';
        font-weight: 200 900;
        font-style: italic;
        font-stretch: normal;
        src: url('VAR/SourceSerif4Variable-Italic.ttf.woff2') format('woff2-variations'),
             url('VAR/SourceSerif4Variable-Italic.ttf.woff') format('woff-variations');
    }


}*/