@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-ExtraLight.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-ExtraLight.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-ExtraLightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-ExtraLightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-Light.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-LightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-LightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-It.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-It.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-Semibold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-Semibold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-SemiboldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-SemiboldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-Bold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-Bold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-BoldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-BoldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-Black.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-Black.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Subhead-BlackIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Subhead-BlackIt.otf.woff') format('woff');
}
/*@supports (font-variation-settings:normal) {
    @font-face{
        font-family: 'Source Serif Subhead';
        font-weight: 200 900;
        font-style: normal;
        font-stretch: normal;
        src: url('VAR/SourceSerif4Variable-Roman.ttf.woff2') format('woff2-variations'),
             url('VAR/SourceSerif4Variable-Roman.ttf.woff') format('woff-variations');
    }
    @font-face{
        font-family: 'Source Serif Subhead';
        font-weight: 200 900;
        font-style: italic;
        font-stretch: normal;
        src: url('VAR/SourceSerif4Variable-Italic.ttf.woff2') format('woff2-variations'),
             url('VAR/SourceSerif4Variable-Italic.ttf.woff') format('woff-variations');
    }


}*/