@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-ExtraLight.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-ExtraLight.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-ExtraLightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-ExtraLightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-Light.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-LightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-LightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-It.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-It.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-Semibold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-Semibold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-SemiboldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-SemiboldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-Bold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-Bold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-BoldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-BoldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-Black.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-Black.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4SmText-BlackIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4SmText-BlackIt.otf.woff') format('woff');
}
/*@supports (font-variation-settings:normal) {
    @font-face{
        font-family: 'Source Serif SmText';
        font-weight: 200 900;
        font-style: normal;
        font-stretch: normal;
        src: url('VAR/SourceSerif4Variable-Roman.ttf.woff2') format('woff2-variations'),
             url('VAR/SourceSerif4Variable-Roman.ttf.woff') format('woff-variations');
    }
    @font-face{
        font-family: 'Source Serif SmText';
        font-weight: 200 900;
        font-style: italic;
        font-stretch: normal;
        src: url('VAR/SourceSerif4Variable-Italic.ttf.woff2') format('woff2-variations'),
             url('VAR/SourceSerif4Variable-Italic.ttf.woff') format('woff-variations');
    }


}*/