@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-ExtraLight.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-ExtraLight.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-ExtraLightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-ExtraLightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-Light.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-LightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-LightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-It.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-It.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-Semibold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-Semibold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-SemiboldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-SemiboldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-Bold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-Bold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-BoldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-BoldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-Black.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-Black.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4Caption-BlackIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4Caption-BlackIt.otf.woff') format('woff');
}
/*@supports (font-variation-settings:normal) {
    @font-face{
        font-family: 'Source Serif Caption';
        font-weight: 200 900;
        font-style: normal;
        font-stretch: normal;
        src: url('VAR/SourceSerif4Variable-Roman.ttf.woff2') format('woff2-variations'),
             url('VAR/SourceSerif4Variable-Roman.ttf.woff') format('woff-variations');
    }
    @font-face{
        font-family: 'Source Serif Caption';
        font-weight: 200 900;
        font-style: italic;
        font-stretch: normal;
        src: url('VAR/SourceSerif4Variable-Italic.ttf.woff2') format('woff2-variations'),
             url('VAR/SourceSerif4Variable-Italic.ttf.woff') format('woff-variations');
    }


}*/