body {
    font-family: "Source Serif VF", "Source Serif", sans;
    overflow-x: hidden;
    font-size: 100%;
    font-feature-settings: "kern" 1, "liga" 1;
}

article {
    autocorrect: "off";
    margin: 0 auto;
    padding: 1rem;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
a {
    text-decoration: none;
    color: #AAA;
}
h1 {
    font-family: "Source Serif VF", "Source Serif Display";
    font-size: 4rem;
    margin: 0;
    padding-left: 1.5rem;
}
h2 {
    font-family: "Source Serif VF", "Source Serif SmText";
    font-weight: 400;
    font-variation-settings: "opsz" 8;
    font-feature-settings: "c2sc" 1, "smcp" 1;
    font-size: 1.5rem;
    /*padding-left: 1.5rem;*/
    color: #AAA;
    margin: 0em;
    padding-bottom: 1rem;
    height: 1.5rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid;
}
h3 {
    font-family: "Source Serif VF", "Source Serif Display";
    font-weight: inherit;
    font-size: 5rem;
    font-variation-settings: "opsz" 60;
    line-height: 5rem;
    padding-top: 0.45rem;
    padding-bottom: 0.5rem;
    margin: 0;
}

h4 {
    font-family: "Source Serif VF", "Source Serif Subhead";
    font-weight: inherit;
    font-size: 2.5rem;
    font-variation-settings: "opsz" 40;
    line-height: 2.75rem;
    font-feature-settings: "smcp" 1, "c2sc" 1;
    padding-bottom: 1rem;
    padding-left: 0.25rem;
    margin: 0em;
}

.container {
    max-width: 38rem;
    min-height: 64rem;
    padding: 0.5rem 1.5rem;
    margin: 0;
    float: left;
    /*overflow: hidden;*/
}

.columns {
    column-count: 1;
    column-gap: .75rem;
}

p {
    margin: 0;
    /*padding-bottom: 0.5rem;*/
    font-feature-settings: "onum" 1, "pnum" 1;

}

.opsz_text {
    font-size: 1.25rem;
    font-variation-settings: "opsz" 10;
    line-height: 1.75rem;
    /*padding-left: .5rem;*/
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}

.opsz_caption {
    font-family: "Source Serif VF", "Source Serif Caption";
    font-size: .75rem;
    font-variation-settings: "opsz" 4;
    line-height: 1.25rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}


.smcp {
    font-feature-settings: "smcp" 1;
}

@media (max-width: 25rem) {

/*@media (min-width: 25rem) and (max-width: 35rem) {*/
/*@media (max-width: 35rem) {*/

    .columns {
        column-count: 1;
    }
    .container {
        padding: 0.5rem 0.5rem;
    }
    article {
        padding: 0;
    }
    h4 {
        font-feature-settings: "smcp" 0, "c2sc" 0;
        font-style: italic;
    }

}

@media (min-width: 35rem) {
    .columns {
        column-count: 2;
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #FFF;
    }
    div:hover {
        background-color: #333;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #FFF;
        color: #000;
    }
    div:hover {
        background-color: #EEE;
    }
}

.ribbon {
    background: none repeat scroll 0% 0% rgb(34, 34, 34);
    color: white;
    display: block;
    font: 400 0.75rem 'Source Serif 4';
    font-weight: 700;
    padding: 8px 150px;
    position: absolute;
    right: 0px;
    text-decoration: none;
    top: 0px;
    -webkit-transform: translate(50%, -50%) rotate(45deg) translateY(72px);
    -moz-transform: translate(50%, -50%) rotate(45deg) translateY(72px);
    -ms-transform: translate(50%, -50%) rotate(45deg) translateY(72px);
    -o-transform: translate(50%, -50%) rotate(45deg) translateY(72px);
    transform: translate(50%, -50%) rotate(45deg) translateY(72px);
    white-space: nowrap;
}
