<h3>
    Μυρμηγκοφάγος
</h3>
<h4 lang="el">
    Οι μυρμηγκοφάγοι είναι εξειδικευμένοι στην διατροφή με μυρμήγκια, τερμίτες και ενίοτε αράχνες.
</h4>
<p class="opsz_text">
<span lang="el">
    Ο μυρμηγκοφάγος είναι κοινή ονομασία για τα τέσσερα είδη θηλαστικών της υποτάξεως των Σκωληκόγλωσσων κοινώς γνωστών για την διατροφή τους με μυρμήγκια και τερμίτες. Μαζί με τους βραδύποδες, αποτελούν την τάξη των Βραδυποδομόρφων. Η ονομασία "μυρμηγκοφάγος" χρησιμοποιείται επίσης για μη συγγενικά ζώα όπως τα άαρντβαρκ, τα νούμπατ, οι έχιδνες, οι παγκολίνοι και κάποια μέλη της οικογένειας των Οικοβιιδών.<br>
    Τα σωζόμενα είδη περιλαμβάνουν τον γιγάντιο μυρμηγκοφάγο Myrmecophaga tridactyla - Μυρμηκοφάγος ο τριδάκτυλος, με μήκος περίπου 1,8 μέτρα μαζί με την ουρά· τον μεταξένιο μυρμηγκοφάγο Cyclopes didactylus - Κυκλόπους ο διδάκτυλος, με μήκος περίπου 35 εκατοστόμετρα· τον ταμαντούα του νότου Ταμαντούα η τετραδάκτυλος, με μήκος περίπου 1,2 μέτρα και τον ταμαντούα του Μεξικού Tamandua mexicana - Ταμαντούα η μεξικάνα παρομοίων διαστάσεων.
</p>
<div class="columns">
<p class="opsz_caption">
<span lang="el">
    Όλοι οι μυρμηγκοφάγοι έχουν επίμηκες ρύγχος εξοπλισμένο με μια λεπτή γλώσσα που μπορεί να επεκταθεί σε μήκος μεγαλύτερο από το μήκος του κεφαλιού· το στόμα τους σε σχήμα σωλήνα έχει χείλη αλλά καθόλου δόντια. Χρησιμοποιούν τα μεγάλα, κυρτά μπροστινά νύχια για να ανοίγουν τις φωλιές των μυρμηγκιών και των τερμιτών και για άμυνα, ενώ η πυκνή και μακριά γούνα τους τους προστατεύει από τις επιθέσεις των εντόμων. Όλα τα είδη εξαιρουμένου του γιγάντιου μυρμηγκοφάγου έχουν συλληπτήρια ουρά. </span></p>
<p class="opsz_caption" lang="en">
    This sample was taken from the
    <a href="https://el.wikipedia.org/w/index.php?title=Μυρμηγκοφάγος&oldid=8405141">
    Greek</a> Wikipedia on the Anteater.
</p>
</div>
