<h3>
    Mravenečník velký</h3>
<h4 lang="cz">
    Mravenečníci se mezi sebou dorozumívají prskáním, čenicháním, syčením nebo pachy, které jsou velice nápadné a cítitelné na několik metrů daleko.</h4>
<p class="opsz_text" lang="cz">
    Mravenečník velký je mohutné zvíře dorůstající 1,8 až 2 m na délku. Hmotnost se obecně pohybuje mezi 29 až 65 kg a ocas obvykle měří 64 až 90 cm.<br>
    Tento druh mravenečníka má velmi husté a drsné chlupy, které jsou nejdelší na ocase, kde dosahují až 40 cm. Nedospělí jedinci mají chlupy měkčí než dospělci a spolu s dospíváním jim tuhnou. Většinou bývají zbarveni šedě nebo hnědě, charakteristickým znakem je černá protáhlá skvrna, bílý ramenní pruh, masivní končetiny s třemi ostrými drápy, trubkovitý čenich a malý obličej s drobnýma očima a ušima.<br>
    Mravenečník velký má až 60 cm dlouhý a 12,5 mm široký jazyk, kterým velice rychle kmitá a za jednu minutu jej může zastrčit až 150×. Při lovu potravy jazyk pokrývá lepkavá slina, která zachycuje drobný hmyz. Stejně jako ostatní mravenečníci nemá ani mravenečník velký žádné zuby. Ty nahrazují výrůstky v ústech a ve svalnatém žaludku.
<div class="columns">
<p class="opsz_caption" lang="cz">
    První mravenečníci velcí se dostali do Zoo Praha v 50. letech 20. století. Druh byl k vidění až do roku 1982. Obnovení chovu přišlo po patnácti letech v roce 1997, kdy přišli dva jedinci. Ačkoliv se původně předpokládalo, že jde o samce se samicí, ukázalo se, že jde o dvě samice. Po jejich odchodu do ústecké zoo v roce 2002 nastala další pauza v chovu. K opětovnému obnovení došlo v létě 2014. Samice Ella (narozena v lednu 2013) dorazila z varšavské zoo, samec Hannibal (narozen v prosinci 2012) z Madridu. Na počátku roku 2016 – 20. ledna – se podařil velký úspěch, když se prvně v dějinách pražské zoo narodilo mládě mravenečníka velkého. Jednalo se o samce, který dostal během křtin 25. března 2016 od zpěváka Miroslava Žbirky jméno Lecter. Šest hodin po porodu bylo mládě zváženo a změřeno: chovatelé naměřili váhu 1770 gramů a délku 62 cm. Při křtu již měl 80 cm.
</p>
</div>
