<h3>Chuột lang nước</h3>
<h4 lang="fr">Động vật ăn thực vật</h4>

<p class="opsz_text" lang="vi">
Chuột lang nước là động vật ăn thực vật, chủ yếu ăn các loại cỏ và thực vật thủy sinh, cũng như vỏ cây ăn quả và cây. Chúng ăn rất chọn lọc, ăn lá của một loài và bỏ qua loài khác xung quanh nó, và ăn nhiều hơn loài cây hơn trong mùa khô, khi có ít cây có sẵn. Trong khi họ ăn cỏ trong mùa mưa, chúng phải chuyển sang lau sậy phong phú hơn trong mùa khô. Cây mà chuột lang nước ăn trong mùa hè mất đi giá trị dinh dưỡng của chúng trong mùa đông, do đó, không được tiêu thụ tại thời điểm đó. Hàm của chuột lang nước là không vuông góc và do đó chúng nhai thức ăn bằng cách đưa hàm tới và lui thay vì đưa ngang. Chuột lang nước ăn phân của chúng như là một nguồn thực vật đường ruột do vi khuẩn, để giúp tiêu hóa cellulose trong cỏ hình thành chế độ ăn bình thường của chúng, và để trích xuất tối đa của protein và vitamin từ thực phẩm của chúng. Chúng cũng có thể nôn ra thức ăn nhai lại một lần nữa, tương tự như bò nhai lại.<br>

Giống như người anh em họ của nó là chuột lang, chuột lang nước không có khả năng tổng hợp vitamin C, và chúng không bổ sung vitamin C trong điều kiện nuôi nhốt đã được báo cáo để phát triển các bệnh về lợi như là một dấu hiệu của bệnh còi.<br>

Tuổi thọ của chuột lang nước có thể lên đến 8-10 năm, tuy nhiên trong tự nhiên thường sống trung bình không quá bốn năm vì chúng luôn là "con mồi ưa thích của báo đốm, báo sư tử, mèo gấm Ocelot, đại bàng và cá sấu Caiman". Chuột lang nước cũng là con mồi ưa thích của trăn anaconda.
</p>

<div class="columns">
<p class="opsz_caption" lang="vi">
Mặc dù khá nhanh nhẹn trên đất liền (có khả năng chạy nhanh như một con ngựa), chuột lang nước chủ yếu sống trong môi trường nước. Chúng là những vận động viên bơi lội xuất sắc, và có thể chìm hoàn toàn dưới nước trong năm phút, một khả năng mà chúng sử dụng để né tránh kẻ thù. Chuột lang nước có thể ngủ trong nước, chỉ giữ mũi của chúng ra khỏi nước. Khi nhiệt độ tăng cao trong ngày, chúng sẽ ở lại trong nước và sau đó ăn cỏ vào buổi chiều muộn và buổi tối. Chúng cũng dành thời gian đắm mình trong bùn. Chúng nghỉ ngơi khoảng nửa đêm và sau đó tiếp tục gặm cỏ trước bình minh.
</p>
<p lang="en">
These sample texts were taken from the <a href="https://vi.wikipedia.org/w/index.php?title=Chuột_lang_nước&oldid=63151980">Vietnamese Wikipedia page about the Capybara</a>.
</div>
