<h3>
Lince-ibérico
</h3>
<h4 lang="pt">
Um caçador muito especializado
</h4>
<p class="opsz_text" lang="pt">
O lince-ibérico apresenta muitas das características típicas dos linces, como orelhas peludas, pernas longas, cauda curta e um colar de pelo que se assemelha a uma barba. Ao contrário dos seus parentes euroasiáticos, o lince-ibérico tem uma cor castanho-amarelada com manchas. O pelo também é mais curto que o de outros linces, que geralmente estão adaptados a ambientes mais frios. Algumas populações ocidentais não tinham manchas, no entanto acredita-se estarem extintas. Geralmente as manchas têm uma cor mais intensa durante os meses do Verão. Tem havido recentemente estudos sobre a configuração das manchas e a determinação do grau de diversidade genética dentro da espécie.<br>
O lince-ibérico é um caçador muito especializado e que apresenta certas adaptações que melhoram a sua capacidade de capturar e matar pequenas presas. Têm um crânio encurtado, o que maximiza a força da mordidela dos caninos. Os seus focinhos são mais estreitos e têm mandíbulas mais longas e caninos menores do que animais que se alimentam de presas maiores.<br>
Como todos os felídeos, o lince-ibérico tem pupilas verticais e uma visão excelente, especialmente quando há pouca visibilidade. Têm também reflexos apurados; os bigodes fornecem dados táteis muito detalhados e as orelhas proporcionam uma excelente audição. A maioria dos gatos solitários são silenciosos, excepto quando se sentem ameaçados ou quando os juvenis se encontram em perigo.
</p>

<div class="opsz_caption columns">
<p lang="es">
El lince ibérico se encuentra en el bosque y matorral mediterráneo, en zonas muy restringidas de la península ibérica. En España en muy pocas áreas, bien conservadas y aisladas de la actividad humana, mientras que en Portugal parece que se ha extinguido. Este tipo de hábitat le proporciona refugio y pastos abiertos para cazar conejos, que suponen el 90 % de su dieta.<br>

En Portugal se están haciendo esfuerzos denodados para la recuperación del hábitat del lince, como en la Reserva natural de la Sierra de la Malcata.<br>

Las preferencias examinadas del hábitat del lince en el área de Doñana, incluyendo el parque y los alrededores, revelan que el lince está generalmente ausente en las tierras de cultivo y en plantaciones de árboles exóticos (eucalipto y ciertos pinos), donde también escasean los conejos. En el parque, la radiotelemetría muestra que más del 90 % de los puntos de reposo del día usados por el lince se localizan dentro del matorral denso. El lince se encuentra principalmente entre los 400 y 900 msnm, pero este intervalo puede extenderse hasta los 1600 msnm.
</p>

<p lang="en">
These sample texts were taken from a combination of the
<a href="https://pt.wikipedia.org/w/index.php?title=Lince-ibérico&oldid=59683434">
Portuguese </a> and <a href="https://es.wikipedia.org/w/index.php?title=Lynx_pardinus&oldid=130608478">Spanish</a> Wikipedia pages on the Iberian Lynx.
</p>
</div>
