<h3>Американски енот</h3>
<h4 lang="bg">Средноголям бозайник, разпространен в Северна Америка</h4>
<p class="opsz_text">
<span lang="bg">
След интродукции в средата на 20 век ареалът му се разширил в Европа, Кавказ и Япония. Оригиналният му хабитат са широколистни и смесени гори, но може лесно да се адаптира в планински условия, крайбрежия и дори градски региони, където може да лови вредители.<br>
С дължина на тялото 41 – 72 cm и тегло 3,6 – 9 кг, енотът е най-големият представител на семейство енотови. Гъстият му подкосъм, който служи за изолация при студено време, заема почти 90% от сивата му козина. Двете най-интересни приспособления на енота са неговите свръхчувствителни лапи и лицева маска. Тези приспособления имат място в митологията на индианските племена. Проучвания показват, че енотите могат да запомнят неща в период до три години. Принадлежат към групата на всеядните и са обикновено нощни животни. Храната им се състои от 40% безгръбначни, 33% растения и 27% гръбначни.<br>
</span>
<span lang="dk">
De vaskebjørne som lever i Europa, nedstammer fra dyr, som er ud- eller undsluppet fra pelsfarme. På grund af dette regnes vaskebjørnen hovedsagelig som en fremmed art, men i Tyskland betragtes den nu som hjemmehørende. I store dele af Tyskland findes nu stabile vaskebjørnspopulationer, som i alt menes at beløbe sig til ca. ½ mio. dyr. Andre leveområder er i Kaukasus og i Nordfrankrig.
</span>
</p>
<div class="columns">
<p class="opsz_caption">
<span lang="bg">
Енотите имат специфично социално поведение. Особено специфична черта при тях е внезапното нападение срещу врага. Женските живеят заедно в своя собствена територия, докато мъжките живеят на групи до по четирима, за да пазят позициите си от нашественици по време на размножителния период. Територията е между 0,03 km² за женските в градовете до 49,5 km² за мъжките в прериите. След бременност около 65 дни, женският енот ражда между 2 и 5 малки през пролетта. Тези малки се изоставят от майката през есента. Докато пленени еноти са живели над 20 години, в естествената си среда те живеят средно 1,8 – 3,1 години. Ловът и контрабандата са двете най-чести причини за смъртта им.</span><br>
<span lang="dk">
Bemærkelsesværdigt er det, at de fleste vaskebjørne i Tyskland stammer fra to par, som den 12. april 1934 blev udsat ved Eder-søen sydvest for Kassel. Genetiske undersøgelser har vist, at også de dyr, som nu lever længst bort fra udsætningsstedet, stammer fra disse fire vaskebjørne. Udsætningen blev foretaget af lokale forst- og jagtfolk på trods af protester fra flere fremtrædende zoologer, blandt andre Carl Hagenbeck fra Hagenbeck Tierpark i Hamborg, som i sin egen zoo havde oplevet, hvorledes en undsluppen vaskebjørn raserede fuglereder og tog smågnavere i stor stil. En sejlivet myte om, at udsætningen ved Eder-søen skete på ordre af Hermann Göring, synes ikke at være rigtig. Myten har ført til, at vaskebjørnen i engelsk litteratur ofte omtales som "nazi-racoon". I den bevarede sagsakt om udsætningen er der imidlertid intet, der tyder på, at Hermann Göring har været involveret i sagen.<br>
From <a href="https://da.wikipedia.org/w/index.php?title=Almindelig_vaskebjørn&oldid=10374490">Danish</a> and <a href="https://bg.wikipedia.org/w/index.php?title=Американски_енот&oldid=10477307">Bulgarian</a> Wikipedia pages about the Raccoon.
</span>
</p>
</div>
