<h3>Chat des sables</h3>
<h4 lang="fr">Félin le plus adapté aux habitats désertiques très arides</h4>

<p class="opsz_text">
<span lang="fr">
    La fourrure du Chat des sables est souvent couleur sable. Les marques varient selon les individus : certaines n'ont ni taches ni rayures, d'autres sont légèrement tachetées, d'autres ont des taches et des rayures. Il a des barres noirâtres sur les membres, et la queue a une pointe noire avec deux ou trois anneaux sombres alternant avec des bandes chamois. C'est un petit chat caractérisé par une tête plate et large, des pattes courtes et une queue relativement longue mesurant entre 23 et 31 cm. Il atteint une hauteur au garrot de 24 à 36 centimètres et pèse de 1,5 à 3,4 kg. La longueur de la tête et du corps varie de 39 à 52 cm. Les longues oreilles de 5 à 7 cm donnent un aspect plat et large à la tête. Elles sont fauves à la base et tachetées de noir, et plus pointues que celles du Chat de Pallas. Les oreilles sont triangulaires et le conduit auditif est très large, ce qui donne au chat un meilleur sens de l'ouïe.</span>
<br>
<span lang="sr">
    Ареал пустињске мачке (Felis margarita) обухвата већи број држава. Врста је присутна у Пакистану, Ирану, Египту, Израелу, Алжиру, Мароку, Мауританији, Нигеру, Сирији, Туркменистану, Узбекистану, Казахстану, Саудијској Арабији, Јордану, Кувајту, Оману, Уједињеним Арапским Емиратима, Јемену.<br>
    Присуство је непотврђено у Авганистану, Чаду, Малију, Ираку, Сенегалу, Либији, Тунису, Судану и Катару.
    Станишта пустињске мачке су планине и пешчане и камените пустиње.
    Ова врста је на нижем степену опасности од изумирања, и сматра се скоро угроженим таксоном.
</span>
</p>

<div class="opsz_caption columns">
<p lang="fr">
    Il chasse des rongeurs, des lézards, des insectes et principalement des gerbilles ainsi que des gerboises. Chasseur nocturne, ses grandes oreilles lui permettent de localiser sa nourriture. En Iran et au Pakistan, le Chat des sables possède une technique unique pour dénicher la grande gerbille (une espèce diurne) dans son terrier. Il abaisse les oreilles vers le sol pour écouter, et se met à gratter furieusement dès qu'il entend des bruits révélant une présence. Le Chat des sables chasse aussi des serpents tels que la vipère à cornes et la vipère des sables venimeuse. Il les assomme d'un violent coup de patte avant de les mordre mortellement au cou. La nourriture est si rare dans le désert que le Chat des sables mange à peu près tout ce qu'il trouve, y compris des insectes et des araignées. Il n'a pas besoin d'eau puisqu'il en trouve suffisamment dans ses proies.</p>
<p lang="en">
    These sample texts were taken from a combination of the
    <a href="https://fr.wikipedia.org/w/index.php?title=Chat_des_sables&oldid=175542026">
    French</a> and
    <a href="https://sr.wikipedia.org/w/index.php?title=Пустињска_мачка&oldid=23359607">
    Serbian</a>
    Wikipedia articles about the Sand Cat. The most remarkable thing about the Sand Cat are its huge ears.
</span>
</div>