<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
			<meta name="format-detection" content="telephone=no">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/style.css">
			<link rel="stylesheet" href="/source-serif-var.css">
		</head>
		<body>
		<article spellcheck="false" lang="en">
		<h1>Source&nbsp;Serif&nbsp;4</h1>
		<hr>

		<div style="font-weight: 200;" class="container">
			<h2>ExtraLight</h2>
			{% include capybara.html %}
		</div>

		<div style="font-weight: 300;" class="container">
			<h2>Light</h2>
			{% include sand_cat.html %}
		</div>

		<div style="font-weight: 400;" class="container">
			<h2>Regular</h2>
			{% include iberian_lynx.html %}
		</div>

		<div style="font-weight: 600;" class="container">
			<h2>Semibold</h2>
			{% include wombat.html %}
		</div>

		<div style="font-weight: 700;" class="container">
			<h2>Bold</h2>
			{% include anteater.html %}
		</div>

		<div style="font-weight: 900;" class="container">
			<h2>Black</h2>
			{% include anteater_gr.html %}
		</div>

		<div style="font-weight: 200;" class="container">
			<h2>ExtraLight</h2>
			{% include raccoon.html %}
		</div>


		</article>
		</body>
	</html>