<!DOCTYPE html>

	<html>
		<head>
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		    <meta name="format-detection" content="telephone=no">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/style.css">
		    <link rel="stylesheet" href="/source-serif-var.css">
		</head>
		<body>
	    <article spellcheck="false" lang="en">
	    <h1>Source Serif 4</h1>
	    <hr>

		<div style="font-weight: 200;" class="container">
		    {% include wombat.html %}
		</div>

		<div style="font-weight: 300;" class="container">
		    {% include sand_cat.html %}
		</div>

		</article>
		</body>
	</html>